@import './css-shared/variables.css';
@import './css-shared/media-queries.css';

.container {
  margin: 4em auto;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
}

@media (--tablet) {
  .container {
    flex-direction: row;
  }

  .reposContainer {
    margin: 0 1em;
  }
}
